.navbarContainer {
  background-color: rgba(221, 204, 182, 255);
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 70%;
  padding-left: 5%;
}

.categories {
  list-style-type: none;
  padding-bottom: 10%;
  padding-top: 2%;
  font-weight: bold;
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
}
