.navbarContainer {
  background-color: rgba(221, 204, 182, 255);
  display: flex;
  justify-content: space-around;
  
}

.logo {
  width: 60%;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
  font-family: 'Arial', sans-serif;
}

.categories a {
  text-decoration: none;
  font-size: larger;
  color: #1d1c1c;
}

