.containerItemDetail {
    background-color: #f9ebc7;
    font-family: Arial, sans-serif;
    padding: 5rem;
    display: flex;
    flex-direction: row;
}

.containerItemDetail img {
    width: 25rem;
    border-radius: 3rem;
    border: 1px solid rgb(201, 176, 147);
    margin-left: 7rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.detailItems {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding-left: 2rem; 
    row-gap: 1rem;
    font-size: large;
}

.counterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}


